body
{
    display: grid;
    grid-template-areas: 'logga'
    'bild';
    background-color: #faf5d8;
}
a
{
    justify-self: left;
}
a > img{
    max-height: 100px;
}

img
{
    justify-self: center;
    max-height: 500px;
}